.table th{
	text-align:center;
	border-bottom:solid 2px #ddd;
}

.table th.exercise{
	text-align:left;
}

.table input[type="text"]{
	width:30px;
}

.table .type, 
.table .previous{
	width:10px;
	color:#777;
	font-size:9px;
	display:inline-block;
}

.table .type{
	font-weight:bold;
}

.table td{
	vertical-align:middle;
}

.table td:nth-child(4),
.table th:nth-child(3),
.table th:nth-child(6){
	border-left:solid 1px #ddd;
}

.table.entry{
	max-width:600px
}

.table td{
	border:none;
}

.table tbody tr:nth-child(odd){
	background:#f8f8f8;
}

code.completed{
	color:#008500;
	border-color:#57C257;
}